.container {
    width: 82%;
    min-height: calc(100vh - 70px);
    margin: 60px auto 0 auto;
    box-sizing: border-box;
    background-color: var(--color-white);
    padding: 0 5.2% 50px 5.2%;
    background-color: var(--color-white);
    border-radius: 30px;
    margin-bottom: 60px;
}
.title {
    
}