.container {
    height: 100%;
    overflow-y: auto;
    flex: 2;
    box-sizing: border-box;
    padding: 10px 3%;
}
.container .off {
    width: 130px;
    height: 19px;
    background-image: url('/images/star_off.png');
}
.container .off .on {
    height: 20px;
    background-image: url('/images/star_on.png');
}
.container .LectureReviewItem {
    padding: 20px 2.5%;
    box-sizing: border-box;
    border-bottom: 2px solid var(--color-bg-start);
}
.container .LectureReviewItem .top {
    font-size: 16px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container .LectureReviewItem .top .rating_wrap {
    display: flex;
}
.container .LectureReviewItem .top .rating_wrap span {
    color: var(--color-txt-gray);
}
.container .LectureReviewItem .top span {
    font-weight: 400;
    margin-left: 5px;
}
.container .LectureReviewItem .top .add_info {
    display: flex;
}
.container .LectureReviewItem .top .add_info .info_name {
    margin-right: 4px;
    margin-left: 20px;
    font-weight: 600;
}

.container .LectureReviewItem .bottom {
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    padding-left: 10px;
    box-sizing: border-box;
}
.container .no_result {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding-bottom: 50px;
    box-sizing: border-box;
}
.container .no_result img {
    width: 80px;
    margin-bottom: 30px;
}
.container .no_result span {
    font-size: 18px;
    font-weight: 400;
    color: var(--color-gray);
}
@media screen and (max-width:767px) {
    .container {
        overflow-y: unset;
    }
    .container .LectureReviewItem .top {
        flex-direction: column;
        align-items: flex-start;
    }
    .container .LectureReviewItem .top .rating_wrap {
        margin-bottom: 20px;
    }
    .container .LectureReviewItem .top .add_info {
        margin-bottom: 10px;
    }
    .container .LectureReviewItem .top .add_info .info_name {
        margin: 0 2px 0 15px;
    }
    .container .LectureReviewItem .top .add_info .info_name:first-of-type {
        margin: 0 2px 0 3px;
    }
}