@font-face{
    font-family: Pretendard;
    src:url(/fonts/Pretendard-Thin.ttf) format("truetype");
    font-weight:300;
}
@font-face{
    font-family: Pretendard;
    src:url(/fonts/Pretendard-ExtraLight.ttf) format("truetype");
    font-weight:200;
}
@font-face{
    font-family: Pretendard;
    src:url(/fonts/Pretendard-Light.ttf) format("truetype");
    font-weight:300;
}
@font-face{
    font-family: Pretendard;
    src:url(/fonts/Pretendard-Regular.ttf) format("truetype");
    font-weight:400;
}
@font-face{
    font-family: Pretendard;
    src:url(/fonts/Pretendard-Medium.ttf) format("truetype");
    font-weight:500;
}
@font-face{
    font-family: Pretendard;
    src:url(/fonts/Pretendard-SemiBold.ttf) format("truetype");
    font-weight:600;
}
@font-face{
    font-family: Pretendard;
    src:url(/fonts/Pretendard-Bold.ttf) format("truetype");
    font-weight:700;
}
@font-face{
    font-family: Pretendard;
    src:url(/fonts/Pretendard-ExtraBold.ttf) format("truetype");
    font-weight:800;
}
@font-face{
    font-family: Pretendard;
    src:url(/fonts/Pretendard-Black.ttf) format("truetype");
    font-weight:900;
}

body {
    word-break: keep-all;
    font-family: 'Pretendard';
    background: linear-gradient(180deg, var(--color-bg-start) 0%, var(--color-bg-end) 100%) no-repeat;
    margin: 0;
    padding-top: 70px;
    min-height: 100vh;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
input:focus, select:focus {
    outline: none !important;
    box-shadow: none !important;
}
.slick-list {
    overflow: visible!important;
}
.slick-prev, .slick-next  {
    z-index: 100;
}
.slick-dots {
    bottom: -40px!important;
}
.typed-cursor {
    display: inline-block!important;
    width: 2px;
    height: 45px!important;
    color: var(--color-opacity-0);
    background-color: var(--color-blue-2);
    margin-left: 4px;
}

@media screen and (max-width: 850px) {
    body {
        padding-top: 60px;
    }
    .slick-prev, .slick-next {
        position: fixed;

    }
    .slick-prev {
        left: 5px!important;
    }
    .slick-next {
        right: 5px!important;
    }
    .typed-cursor {
        display: none!important;
    }
}