:root {
    --color-opacity-0: rgba(0,0,0,0);
    --color-white: #ffffff;
    --color-black: #000000;

    --color-txt-gray: #B4B2CA;
    --color-blue-gray: #F9FAFE;
    --color-blue-0: #96A4FF;
    --color-blue-1: #6178FA;
    --color-blue-1-opacity-10: rgba(97,120, 250, 0.1);
    --color-blue-1-opacity-30: rgba(97,120, 250, 0.3);
    --color-blue-1-opacity-50: rgba(97,120, 250, 0.5);
    --color-blue-2: #3447b7;
    --color-blue-3: #06003A;
    --color-blue-4: #122387;
    --color-blue-4-opacity-80: rgba(18, 35, 135, 0.8);
    

    --color-purple: #B132FF;
    --color-gray: #abadbb;

    --color-bg-start: #F1F2F8;
    --color-bg-end: #E4E8FE;
}