.container {
    width: 100%;
    min-height: calc(100vh - 70px);
    padding: 30px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-x: hidden;
}
.container .contents {
    width: 90%;
}
.container .contents .title {
    margin: 0 0 40px 0;
    color: var(--color-blue-2);
    font-size: 30px;
    font-weight: 800;
}