.container {
    width: 82%;
    min-height: calc(100vh - 70px);
    margin: 0 auto;
    box-sizing: border-box;
}
.container .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
}
.container .header h1 {
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 1px;
    color: var(--color-blue-2);
    margin: 0 0 25px 0;
}
.container .header .input_wrap {
    width: 50%;
    margin-top: 40px;
}
.container .contents {
    width: 100%;
    box-sizing: border-box;
    padding: 0 5.2% 60px 5.2%;
    background-color: var(--color-white);
    border-radius: 30px;
    margin-bottom: 60px;
}
.container .contents .sort_row {
    width: 100%;
    text-align: right;
    padding: 40px 0;
}
.container .contents .item_wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}

@media screen and (max-width:1200px) {
    .container .contents .item_wrap {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:767px) {
    .container {
        width: 95%;
    }
    .container .header .input_wrap {
        width: 95%;
    }
    .container .contents .item_wrap {
        grid-template-columns: 1fr;
    }
}