.container {
    width: 82%;
    min-height: calc(100vh - 70px);
    margin: 50px auto 0 auto;
    box-sizing: border-box;
    background-color: var(--color-white);
    padding: 30px 5.2%;
    background-color: var(--color-white);
    border-radius: 30px;
    margin-bottom: 60px;
    position: relative;
}
.container .close_btn {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
}
.container .title_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.container .title_wrap .text {
    font-size: 16px;
    font-weight: 700;
}
.container .contents_wrap {
    display: flex;
}