.container {
    display: flex;
    flex-direction: column;
    width: 82%;
    height: calc(100vh - 160px);
    margin: 50px auto 40px auto;
    box-sizing: border-box;
    background-color: var(--color-white);
    padding: 30px 60px;
    background-color: var(--color-white);
    border-radius: 30px;
    position: relative;
}
.container .close_btn {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
}
.container .title_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.container .title_wrap .text {
    font-size: 16px;
    font-weight: 700;
}
.container .contents_wrap {
    display: flex;
    height: calc(100% - 58px);
}
@media screen and (max-width:1120px) {
    .container {
        width: 95%;
    }
}
@media screen and (max-width:767px) {
    .container .contents_wrap {
        flex-direction: column;
        overflow-y: auto;
    }
    .container {
        padding: 60px 5.2% 20px 5.2%;
        height: auto;
    }
    .container .close_btn {
        top: 20px;
        right: 20px;
    }
}